
.header-container {
  background-color: #ef5350;
  font-size: 20pt;
  padding-bottom: 10px;
  text-align: center;
}

.header-container h1 {
  margin: 0;
  color: #ffcb05;
  text-shadow: -2px 0 #3c5aa6, 0 2px #3c5aa6, 2px 0 #3c5aa6, 0 -2px #3c5aa6;
}