.pokedex-container {
  background-color: rgb(119, 117, 117);
  border: 5px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  max-height: 600px;
  margin: 5vh 10vw 0 10vw;
}

.pokemon-list {
  background-color: #ef5350;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  padding: 7px 0 7px 0;
  width: 50%;
  overflow-y: scroll
}

.pokemon-container {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 10px 0;
  width: 40%;


}
.pokemon-cell {
  background-color: rgba(161, 161, 161, 0.822);
  border-radius: 5px;
  display: block;
  list-style: none;
  padding: 3px 0 3px 0;
  text-align: center;
  width: 60%;
  
}

.pokemon-cell:hover {
  background-color: white;
  border: 2px solid #3c5aa6;
}

.pokemon-cell p {
  margin: 0 0 2px 0;
}



