.pokedex-container {
  display: flex;
  flex-direction: row;
  margin: 0 10vw 0 10vw;
}

.pokemon-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 50%;
  height: 70vh;
  
  overflow-y: scroll
}

.pokemon-cell {
  display: block;
  justify-content: center;
  list-style: none;
  padding: 3px 0 3px 0;
  text-align: center;
  width: 50%;
}

.pokemon-cell p {
  margin: 0;
}



