// .App {
//   display: flex; 
//   align-items: center;
//   justify-content: center;
//   width: 650px;
//   height: 400px;
//   padding-left: 10px;
//   margin: 50px auto;
//   background-color: #FE0065;
//   border-radius: 10px;
//   box-shadow: 0 14px 45px rgba(0, 0, 0, 0.22), 0 18px 45px rgba(0, 0, 0, 0.22);
// }

@import './components/_pokemon';
@import './components/pokemon-display';
@import './components/header';
@import './components/search-bar';

body {
  background: rgb(59,76,202);
  background: linear-gradient(150deg, rgba(59,76,202,1) 0%, rgba(0,39,121,1) 43%, rgba(255,0,0,1) 100%);
  background-size: auto;
  background-repeat: no-repeat;
  height: 100%;
}

html {
  height: 100%;
}
